name: vernet
description: A Network Analyzer

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.6+24

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  # Automatically resizes text to fit perfectly within its bounds.
  auto_size_text: ^3.0.0
  # Helps implement the BLoC pattern.
  bloc: ^8.1.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.5
  dart_ping: ^9.0.0
  external_app_launcher: ^3.1.0
  flutter:
    sdk: flutter
  # Bloc for state management, replace StatefulWidget
  flutter_bloc: ^8.1.1
  # Native splash screen plugin
  flutter_native_splash: ^2.4.0
  # Annotations for freezed
  freezed_annotation: ^2.4.1
  # Service locator
  get_it: ^7.2.0
  # A composable, multi-platform, Future-based API for HTTP requests.
  http: ^1.1.0
  # Convenient code generator for get_it
  injectable: ^2.1.0
  # An easy way to create a new isolate, keep it running and communicate with it.
  isolate_contactor: ^2.0.0+1
  # Discover network info and configure themselves accordingly
  json_annotation: ^4.8.1
  network_info_plus: ^4.0.2
  # Helps you discover open ports, devices on subnet and more.
  network_tools_flutter: ^2.0.0
  # Querying information about the application package, such as CFBundleVersion
  package_info_plus: ^4.1.0
  path_provider: ^2.1.1
  # Allows you to display progress widgets based on percentage.
  percent_indicator: ^4.2.2
  # Popup that ask for the requested permission
  permission_handler: ^11.0.0
  # A wrapper around InheritedWidget to make them easier to use and more reusable.
  provider: ^6.0.4
  # Reading and writing simple key-value pairs
  shared_preferences: ^2.0.15
  # Plugin for launching a URL
  url_launcher: ^6.1.6

dev_dependencies:
  # A build system for Dart code generation and modular compilation.
  build_runner: ^2.4.9

  flutter_test:
    sdk: flutter
  # Code generator for unions/pattern-matching/copy.
  freezed: ^2.5.0
  # Convenient code generator for get_it.
  injectable_generator: ^2.1.4
  # Collection of lint rules for Dart and Flutter projects.
  json_serializable: ^6.7.1
  lint: ^2.0.1

flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/secrets.json
    - assets/ipwhois.json
    - assets/ports_lists.json
