name: vernet
description: A Network Analyzer

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.2.1+37

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  # Automatically resizes text to fit perfectly within its bounds.
  auto_size_text: ^3.0.0
  # Helps implement the BLoC pattern.
  bloc: ^9.0.0
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  dart_ping: ^9.0.1
  # Remove git url and use pub version once fix is available in source. 
  drift: ^2.26.1
  drift_flutter: ^0.2.4
  external_app_launcher: ^4.0.2
  flutter:
    sdk: flutter
  # Bloc for state management, replace StatefulWidget
  flutter_bloc: ^9.1.1
  # A cross platform plugin for displaying local notifications.
  flutter_local_notifications: ^19.2.1
  # A versatile mapping package for Flutter
  flutter_map: ^7.0.2
  # A Dart implementation of Leaflet.makercluster for Flutter apps
  flutter_map_marker_cluster: ^1.4.0
  # Native splash screen plugin
  flutter_native_splash: ^2.4.2
  # A simple yet fully customizable rating bar for flutter
  flutter_rating_bar: ^4.0.1
  # A flutter plugin for getting the local timezone of the OS.
  flutter_timezone: ^4.1.1
  # Annotations for freezed
  freezed_annotation: ^2.4.4
  # Service locator
  get_it: ^8.0.2
  # A composable, multi-platform, Future-based API for HTTP requests.
  http: ^1.2.2
  # A Flutter plugin that lets you show a review pop up where users can leave a review
  in_app_review: ^2.0.9
  # Convenient code generator for get_it
  injectable: ^2.5.0
  # An easy way to create a new isolate, keep it running and communicate with it.
  isolate_contactor: ^4.1.0
  # Discover network info and configure themselves accordingly
  json_annotation: ^4.9.0
  latlong2: ^0.9.1
  network_info_plus: ^6.1.1
  # Helps you discover open ports, devices on subnet and more.
  network_tools_flutter: ^2.0.7
  # Querying information about the application package, such as CFBundleVersion
  package_info_plus: ^8.1.1
  path: ^1.9.1
  path_provider: ^2.1.5
  # Allows you to display progress widgets based on percentage.
  percent_indicator: ^4.2.3
  # Popup that ask for the requested permission
  permission_handler: ^12.0.1
  # A wrapper around InheritedWidget to make them easier to use and more reusable.
  provider: ^6.1.2
  # RxDart extends the capabilities of Dart Streams and StreamControllers.
  rxdart: ^0.26.0
  # Reading and writing simple key-value pairs
  shared_preferences: ^2.3.3
  # Flutter package to test ping, upload, download using speedtest.net
  speed_test_dart:
    git:
      url: https://github.com/git-elliot/speed_test_dart.git
      ref: master # branch name
  # A little widget that given an Observable gives you an updated SpeedOMeter.
  speedometer: ^1.2.2
  # Time zone database and time zone aware DateTime.
  timezone: ^0.10.0
  # Plugin for launching a URL
  url_launcher: ^6.3.1

dev_dependencies:
  # A build system for Dart code generation and modular compilation.
  build_runner: ^2.4.15

  drift_dev: ^2.26.1
  flutter_test:
    sdk: flutter
  # Code generator for unions/pattern-matching/copy.
  freezed: ^2.5.8
  # Convenient code generator for get_it.
  injectable_generator: ^2.6.2
  integration_test:
    sdk: flutter
  # Collection of lint rules for Dart and Flutter projects.
  json_serializable: ^6.8.0
  lint: ^2.3.0
  
dependency_overrides:
  analyzer: ^6.3.0

flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/secrets.json
    - assets/ipwhois.json
    - assets/ports_lists.json
